<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         requireCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true" displayDetailsOnPhpunitNotices="true" displayDetailsOnTestsThatTriggerWarnings="true">
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="build/coverage.xml"/>
      <html outputDirectory="build/report"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="build/testdox.html"/>
    <testdoxText outputFile="build/testdox.txt"/>
  </logging>
</phpunit>
